#content {
	padding-top: 50px;
	word-wrap: break-word;
}

.pointer {
	cursor: pointer;
}

#flash {
	position: fixed;
	top: 50px;
}

.counter {
	padding: 10px;
	margin-top: -10px;
}

#counters {
	position: fixed;
	bottom: 0;
	padding: 15px 4px 4px 4px;
	background: #fff;
	width: 100%;
}

#counters li {
	clear: both;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#counters .counter {
	margin-top: 5px;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #333;
	vertical-align: middle;
	text-align: center;
	padding-top: 50%;
	font-size: 15px;
}

